<!DOCTYPE html>

<html lang="en">

<head>
    @Html.Partial("_Head")
</head>

<body>
    <!--Navigation & Intro-->
    <header>
        <!--Navbar-->
        @Html.Partial("_Nav")
        <!--/.Navbar-->
    </header>
    <!--/Navigation & Intro-->
    <!--Main content-->
    <main>
        @RenderBody()
    </main>
    <!--/Main content-->
    <!--Footer-->
    @Html.Partial("_Footer")
    <!--/.Footer-->
    @RenderSection("FooterRender", false)
</body>

</html>
